<!DOCTYPE>
<html ng-app="quoteBook">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<body ng-controller="mainCtrl">

	<h1>Quotes</h1>

		<form ng-show='inputForm'>
			<input type='text' ng-model="addQuote.text">
			<button ng-click="addData()">Add Quote</button>
		</form>
		<button class='btn-primary' ng-click="inputForm = !inputForm">Add</button>

		<form ng-show='inputForm2'>
			<input type='text' ng-model="removeQuote">
			<button ng-click="removeData()">Remove Quote</button>
		</form>
		<button class='btn-primary' ng-click="inputForm2 = !inputForm2">Remove</button>

		<form ng-show='inputForm3'>
			<input type='text' ng-model="filterQuote">
			<button>Filter Quotes</button>
		</form>
		<button class='btn-primary' ng-click="inputForm3 = !inputForm3">Filter</button>

	<div ng-repeat="data in getData | filter: filterQuote">
			<p>{{data.text}}</p>
			<p>{{data.author}}</p>
			<hr>
	</div>

</body>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/mainCtrl.js"></script>
	<script type="text/javascript" src="js/dataService.js"></script>
</html>
