.input {
	display: inline-block;
	margin: 20px 0 10px 30px;
}

.first {
	margin-left: 0;
}

input {
	width: 200px;
}

.header {
	width: 100%;
	text-align: center;
}

.quotes {
	margin-top: 30px;
}

.container {
	width: 100%;
}